﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <a href="articles/GettingStarted.html" name="articles/toc.html" title="Articles">Articles</a>
                </li>
                <li>
                    <a href="api/index.html" name="api/toc.html" title="Api Documentation">Api Documentation</a>
                </li>
                <li>
                    <a href="https://gitlab.com/labadore64/max.io/tree/master/src/max/" name="" title="Source">Source</a>
                </li>
                <li>
                    <a href="https://gitlab.com/labadore64/max.io/raw/master/LICENSE" name="" title="License">License</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>