﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.IO.html" name="" title="max.IO">max.IO</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.IO.IOProperties.html" name="" title="IOProperties">IOProperties</a>
                          </li>
                          <li>
                              <a href="max.IO.TextFileReader.html" name="" title="TextFileReader">TextFileReader</a>
                          </li>
                          <li>
                              <a href="max.IO.TextFileWriter.html" name="" title="TextFileWriter">TextFileWriter</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.IO.model.html" name="" title="max.IO.model">max.IO.model</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.IO.model.FileReader.html" name="" title="FileReader">FileReader</a>
                          </li>
                          <li>
                              <a href="max.IO.model.FileWriter.html" name="" title="FileWriter">FileWriter</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>